{
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "root": true,
  "parser": "@typescript-eslint/parser",
  "rules": {
    "vue/multi-word-component-names": "off",
    "vue/no-setup-props-destructure": "off",
    "vue/max-attributes-per-line": "off",
    "vue/singleline-html-element-content-newline": "off"
  },
  "overrides": [
    {
      "files": ["*.vue"],
      "parser": "vue-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser"
      },
      "rules": {
        "no-unused-vars": "off",
        "no-undef": "off",
        "@typescript-eslint/no-unused-vars": "off"
      }
    }
  ]
}
