*::selection {
  background-color: #aaa;
  color: #222;
}

html {
  background-color: #0a0a0a;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
